header{
	height: 100vh;
}

input[type=text] {
    width: 50%;
    padding: 12px 20px;
}

textarea {
	width: 100%;
	max-width: 100%;
}

footer {
	background-color: #666;
	text-align: left;
	color: #eee;
}
.navbar-header {
	background-image: url('../img/logos/logo-white.svg');
	background-size: auto 50px;
	background-repeat: no-repeat;
	text-indent: -9999px;
}

.navbar-brand {
	padding: 25px 65px;
}

.navbar-custom.affix {
	background-color: #666;
}

#services {
	background-image: url('../img/fb-messenger-banner.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
	padding: 0;
}

#services .section-heading, .service-heading{
	color: #ddd;
}

#services .text-muted {
    color: #bbb;
}

.layer {
	width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.65);
    padding: 150px 0;
}